<section>
  <div class="container mx-auto my-20 max-w-screen-xl border-2 border-gray-200 p-2">
    <div class="flex flex-col lg:flex-row">
      <div class="w-full pt-2 pb-4 lg:pb-8 text-center">
        <h2 class="text-3xl font-bold text-gray-900">
          Chase Sapphire Preferred® Card
        </h2>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row">
      <div class="lg:w-1/3 text-center px-8 py-3">
        <div class="flex flex-col md:flex-row lg:flex-col">
          <div class="w-full md:w-1/2 lg:w-full">
            <img class="mx-auto" src="./static/chase-card.jpg" />
          </div>
          <div class="w-full md:w-1/2 lg:w-full px-0 md:px-6 lg:px-0">
            <p class="text-gray-500 tracking-widest text-sm font-bold pt-4 pb-2">
              RECOMMENDED CREDIT SCORE
            </p>
            <div class="inline-flex mt-1 mb-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 mr-2" viewBox="0 0 27 27" stroke-width="1.5" stroke="#4299e1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <rect x="3" y="5" width="18" height="14" rx="3" />
                <line x1="3" y1="10" x2="21" y2="10" />
                <line x1="7" y1="15" x2="7.01" y2="15" />
                <line x1="11" y1="15" x2="13" y2="15" />
              </svg>
              <p class="text-gray-900 font-bold text-lg">
                Excellent (740 - 850)
                <button title="Click to learn more about FICO/credit scores!" class="ml-2 text-sm font-bold bg-gray-200 hover:bg-gray-300 px-2 rounded-full">
                  ?
                </button>
              </p>
            </div>
            <br>
            <button class="bg-blue-600 hover:bg-blue-700 max-w-sm text-white font-bold py-4 px-8 rounded w-full inline-flex justify-center">
              APPLY NOW
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2 mt-1" viewBox="0 0 30 30" stroke-width="2.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <rect x="5" y="11" width="14" height="10" rx="2" />
                <circle cx="12" cy="16" r="1" />
                <path d="M8 11v-4a4 4 0 0 1 8 0v4" />
              </svg>
            </button>
            <p class="text-gray-500 font-bold tracking-wide text-sm pt-2">
              ON CHASE'S SECURE WEBSITE
            </p>
            <p class="text-gray-500 text-xs pt-2">
              Terms & Conditions Apply
            </p>
          </div>
        </div>
      </div>
      <div class="lg:w-2/3">
        <div class="text-center lg:text-left p-2">
          <div class="flex flex-col lg:flex-row border-b-2 border-t-2 border-gray-200 py-3 lg:py-3 pb-5 justify-center">
            <div class="lg:w-1/3">
              <p class="font-bold text-gray-900">
                Rewards Rate:
              </p>
            </div>
            <div class="lg:w-2/3">
              <p class="text-gray-800">
                Earn 5X points on Lyft rides through March 2022. That’s 3X points in addition to the 2X points you already earn on travel. 2X points on travel and dining at restaurants worldwide. 1 point per dollar spent on all
                other purchases.
              </p>
            </div>
          </div>
          <div class="flex flex-col lg:flex-row border-b-2 border-gray-200 py-3 pb-5 lg:py-3 justify-center">
            <div class="lg:w-1/3">
              <p class="font-bold text-gray-900">
                Welcome Offer:
              </p>
            </div>
            <div class="lg:w-2/3">
              <p class="text-gray-800">
                Earn 60,000 bonus points after you spend $4,000 on purchases in the first 3 months from account opening. That's $750 toward travel when you redeem through Chase Ultimate Rewards®
              </p>
            </div>
          </div>
          <div class="w-full flex flex-col md:flex-row lg:flex-col">
            <div class="flex flex-col lg:flex-row border-b-2 border-gray-200 py-3 pb-4 lg:py-3 md:w-1/2 lg:w-full justify-center">
              <div class="lg:w-1/3">
                <p class="font-bold text-gray-900">
                  Annual Fee:
                </p>
              </div>
              <div class="lg:w-2/3">
                <p class="text-gray-800">
                  $95
                </p>
              </div>
            </div>
            <div class="flex flex-col lg:flex-row border-b-2 md:border-l-2 lg:border-l-0 border-gray-200 py-3 pb-4 lg:py-3 md:w-1/2 lg:w-full justify-center">
              <div class="lg:w-1/3">
                <p class="font-bold text-gray-900">
                  Purchase Intro APR:
                </p>
              </div>
              <div class="lg:w-2/3">
                <p class="text-gray-800">
                  N/A
                </p>
              </div>
            </div>
          </div>
          <div class="w-full flex flex-col md:flex-row lg:flex-col">
            <div class="flex flex-col lg:flex-row border-b-2 border-gray-200 py-3 pb-4 lg:py-3 md:w-1/2 lg:w-full justify-center">
              <div class="lg:w-1/3">
                <p class="font-bold text-gray-900">
                  Balance Transfer Intro APR:
                </p>
              </div>
              <div class="lg:w-2/3">
                <p class="text-gray-800">
                  N/A
                </p>
              </div>
            </div>
            <div class="flex flex-col lg:flex-row border-b-2 md:border-l-2 lg:border-l-0 border-gray-200 py-3 pb-4 lg:py-3 md:w-1/2 lg:w-full justify-center">
              <div class="lg:w-1/3">
                <p class="font-bold text-gray-900">
                  Regular APR:
                </p>
              </div>
              <div class="lg:w-2/3">
                <p class="text-gray-800">
                  15.99%-22.99% Variable
                </p>
              </div>
            </div>
          </div>
          <div class="flex flex-col lg:flex-row border-b-2 border-gray-200 py-3 pb-4 lg:py-3 justify-center">
            <div class="lg:w-1/3">
              <p class="font-bold text-gray-900">
                Our Rating:
              </p>
            </div>
            <div class="lg:w-2/3 inline-flex justify-center lg:justify-start">
              <i class="fas fa-star fill-current text-blue-500 mt-1"></i>
              <i class="fas fa-star fill-current text-blue-500 mt-1"></i>
              <i class="fas fa-star fill-current text-blue-500 mt-1"></i>
              <i class="fas fa-star fill-current text-blue-500 mt-1"></i>
              <i class="fas fa-star-half-alt fill-current text-blue-500 mt-1 mr-2"></i>
              <p class="text-gray-800">
                4.5 / 5 Stars
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row">
      <div class="w-full border-0 border-gray-200 p-2 pb-3 lg:pt-10 text-center">
        <p class="text-base font-bold text-gray-900 text-blue-600 hover:text-blue-700 mr-1">
          Read our in-depth Chase Sapphire Preferred credit card review
        </p>
      </div>
    </div>
  </div>
</section>
