<!DOCTYPE html>
<html lang="en">
  <head>
    {% if env == 'production' %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "output.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/output.css">
    {% endif %}
  </head>
  <body>
    {% include "nav.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}
  </body>
</html>
