<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "components/head.njk" %}
    {% if env == 'production' %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "output.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/output.css">
    {% endif %}
  </head>
  <body>
    {% include "components/nav.njk" %}
    <main>
    <article>
    {{ content | safe }}
    </article>
    </main>
    {% include "components/post-list.njk" %}
    {% include "components/footer.njk" %}
  </body>
</html>
